@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&family=Smokum&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    background-color: #161717;
}


a{
    color: #8a683d;
}

.logo-principal{
    width: 10%;
    height: auto;
}

.conteudo{
    border: 1px solid #d4a160;
    background-color: #000000;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 3% 5%;
    margin: 2% 30% 2% 30%;
    
}

.titulo1{
    font-size: 1.5rem;
    margin-bottom: 7%;
}

.titulo2{
    font-size: 1.2rem;
}

.instrucao{
    margin-bottom: 5%;
    font-size: 0.755em;
    color: #b6b6b6;
}

.formulario{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 16px;
}

.campo-formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto 0;
}

.campo-formulario2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto 0;
    gap: 4%;
    padding: 5% 0 0 20%;
}

.rdNovidades{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.0055rem;
}

.form-control{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 3px solid #707070;
    font-family: 'Montserrat', sans-serif;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.margin-bottom{
    border-bottom: 0.1rem solid #d4a160;
    margin-bottom: 5%;
    margin-top: 10%;
}

.input-texto:focus{
    border: 3px solid #d4a160;
    outline: none;
    background-color: #FFFFFF;
}

.input-texto:hover, .btnRede:hover, .btnEnviar:hover, .btnEnviar2:hover, .input-checkbox:hover, a:hover{
    opacity: 80%;
    transition-duration: 200ms;
}

.input-date{
    width: auto;
}

.redes-sociais-formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.rede-facebook{
    background-color: #1877f2;
}

.rede-google{
    background-color: #FFFFFF;
}

.rede-linkedin{
    background-color: #04689b;
}

.rede-apple{
    background-color: #000000;
}

.redes-sociais-formulario img{
    width: 30px;
    height: 30px;
}

.redes-sociais-formulario button{
    width: 20%;
    height: 40px;
    border: 3px solid #707070;
    outline: none;
}

.checkbox-formulario{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    outline: none;
}

.input-checkbox{
    background-color: #FFFFFF;
    border: 3px solid #707070;
    border-radius: 0px;
    height: 15px;
    width: 15px;
    outline: none;
}

.botao-enviar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.btnEnviar, .btnEnviar2{
    height: 50px;
    outline: none;
    background-color: #d4a160;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.btnEnviar{
    width: 80px;
}

.btnEnviar2{
    width: 110px;
    margin-top: 10%;
}

.links-formulario{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.rodape{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.links-rodape{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
}